<manifest
    package="com.sola.testing.solatesting"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0.0"
    >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialTheme">

        <activity
            android:name=".ui.RecycleViewActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.RecycleDetailActivity_"
            android:theme="@style/MaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.MaterialsActivity_"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.MainActivity_"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.RadarActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.MenuActivity_"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".ui.ViewAnimationActivity_"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
